.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}

@keyframes dance {
    from {
        height: 10px;
    }
    to {
        height: 100%;
    }
}

.bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    width: 100px;
    min-width: 100px;
    height: 50px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    left: 0;
    right: 0;
}

.bar1 {
    width: 10px;
    height: 5px;
    margin: 0 2px;
    background-color: grey;
    animation-name: dance;
    animation-duration: 400ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 250ms;
}

.bar2 {
    width: 10px;
    height: 5px;
    margin: 0 2px;
    background-color: grey;
    animation-name: dance;
    animation-duration: 400ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 715ms;
}

.bar3 {
    width: 10px;
    height: 5px;
    margin: 0 2px;
    background-color: grey;
    animation-name: dance;
    animation-duration: 400ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 475ms;
}

.bar4 {
    width: 10px;
    height: 5px;
    margin: 0 2px;
    background-color: grey;
    animation-name: dance;
    animation-duration: 400ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 25ms;
}

.bar5 {
    width: 10px;
    height: 5px;
    margin: 0 2px;
    background-color: grey;
    animation-name: dance;
    animation-duration: 400ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 190ms;
}